<div class="preloader">
  <div class="loader">
      <div class="loader-outter"></div>
      <div class="loader-inner"></div>

      <div class="indicator"> 
          <svg width="16px" height="12px">
              <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
              <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
          </svg>
      </div>
  </div>
</div>
<!-- End Preloader -->

<!-- Get Pro Button -->


<!-- Header Area -->
<header class="header" >
<!-- Topbar -->
<div class="topbar">
<div class="container">
<div class="row">
  <div class="col-lg-6 col-md-5 col-12">
    <!-- Contact -->
  
    <!-- End Contact -->
  </div>
  <div class="col-lg-6 col-md-7 col-12">
    <!-- Top Contact -->
    
    <!-- End Top Contact -->
  </div>
</div>
</div>
</div>
<!-- End Topbar -->
<!-- Header Inner -->
<div class="header-inner">
<div class="container">
<div class="inner">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-12">
      <!-- Start Logo -->
      <div class="logo">
        <a href="index.html"><img src="assets/img/logo-isims.jpg" alt="#"></a>
      </div>
      <!-- End Logo -->
      <!-- Mobile Nav -->
      <div class="mobile-nav"></div>
      <!-- End Mobile Nav -->
    </div>
    <div class="col-lg-7 col-md-9 col-12">
      <!-- Main Menu -->
     
      <!--/ End Main Menu -->
    </div>
    <div class="col-lg-2 col-12">
      <div class="get-quote">
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--/ End Header Inner -->
</header>
<!-- End Header Area -->

<!-- Slider Area -->
<section class="slider">
<div class="hero-slider">
<!-- Start Single Slider -->
<div class="single-slider" style="background-image:url('assets/img/isims.jpg')">
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="text">
        <h1>Espace <span>Enseignant</span>  <span></span></h1>
        
        <div class="button">
          <a href="#" class="btn">Get Appointment</a>
          <a href="#" class="btn primary">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End Single Slider -->
<!-- Start Single Slider -->
<div class="single-slider" style="background-image:url('assets/img/isims2.jpg')">
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="text">
        <h1>Espace<span>Enseignant</span>  <span></span></h1>
       
        <div class="button">
          <a href="#" class="btn">Get Appointment</a>
          <a href="#" class="btn primary">About Us</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Start End Slider -->
<!-- Start Single Slider -->
<div class="single-slider" style="background-image:url('assets/img/isims2.jpg')">
<div class="container">
  <div class="row">
    <div class="col-lg-7">
      <div class="text">
        <h1>Espace <span>Enseignant</span> <span></span></h1>
       
        <div class="button">
          <a href="#" class="btn">Get Appointment</a>
          <a href="#" class="btn primary">Conatct Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- End Single Slider -->
</div>
</section>
<!--/ End Slider Area -->

<!-- Start Schedule Area -->
<section class="schedule">
<div class="container">
<div class="schedule-inner">
<div class="row">
  <div class="col-lg-4 col-md-6 col-12 ">
    <!-- single-schedule -->
    <div class="single-schedule first">
      
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <!-- single-schedule -->
    <div class="single-schedule middle">
      <div class="inner">
       
        
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-12 col-12">
    <!-- single-schedule -->
    <div class="single-schedule last">
      <div class="inner">
        
        
      </div>
    </div>
  </div>
</div>
</div>
</div>
</section>
<!--/End Start schedule Area -->

<!-- Start Feautes -->
<section class="Feautes section">
<div class="container">
<div class="row">
<div class="col-lg-12">
  <div class="section-title">
    <h2>Votre Emploi du Temps</h2>
    <img src="assets/img/section-img.png" alt="#">
    
  </div>
</div>
</div>
<div class="row">


  <!-- Start Single features -->
 
  <style>
    /* Style pour colorer en bleu ciel */
    .emploi-du-temps {
            font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%; /* Largeur du tableau */
            margin: 50px auto; /* Centrer le tableau */
        }

    .emploi-du-temps td, .emploi-du-temps th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 12px; /* Espace intérieur des cellules */
        }

    .emploi-du-temps th {
        background-color: lightblue;
    }

    .emploi-du-temps tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .emploi-du-temps tr:hover {
        background-color: #ddd;
    }
</style>
  <table class="emploi-du-temps">
    <thead>
        <tr>
            <th>Heure</th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>8:00 - 9:00</td>
            <td>Cours de Mathématiques</td>
            <td></td>
            <td>Cours de Physique</td>
            <td>Cours de Français</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>9:00 - 10:00</td>
            <td></td>
            <td>Cours d'Histoire</td>
            <td></td>
            <td></td>
            <td>Cours de Sciences</td>
            <td>Cours d'Anglais</td>
        </tr>
        <tr>
          <td>10:00 - 11:00</td>
          <td>Cours de Mathématiques</td>
          <td></td>
          <td>Cours de Physique</td>
          <td>Cours de Français</td>
          <td></td>
          <td></td>
      </tr>
      <tr>
        <td>11:00 - 12:00</td>
        <td>Cours de Mathématiques</td>
        <td></td>
        <td>Cours de Physique</td>
        <td>Cours de Français</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
      <td>9:00 - 10:00</td>
      <td></td>
      <td>Cours d'Histoire</td>
      <td></td>
      <td>Cours de Sciences</td>
      <td></td>
      <td>Cours d'Anglais</td>
  </tr>
        <!-- Ajoutez ici d'autres lignes pour votre emploi du temps -->
    </tbody>
</table>





  
  <!-- End Single features -->


</div>
</div>
</section>
<!--/ End Feautes -->

<!-- Start Fun-facts -->
<div id="fun-facts" class="fun-facts section overlay">
<div class="container">
<div class="row">
<div class="col-lg-3 col-md-6 col-12">
  <!-- Start Single Fun -->
  <div class="single-fun">
    <i class="icofont icofont-user-alt-3"></i>
    <div class="content">
      <span class="counter">1200</span>
      <p>Etudiants</p>
    </div>
  </div>
  <!-- End Single Fun -->
</div>
<div class="col-lg-3 col-md-6 col-12">
  <!-- Start Single Fun -->
  <div class="single-fun">
    <i class="icofont icofont-user-alt-3"></i>
    <div class="content">
      <span class="counter">112</span>
      <p>Enseignants </p>
    </div>
  </div>
  <!-- End Single Fun -->
</div>
<div class="col-lg-3 col-md-6 col-12">
  <!-- Start Single Fun -->
  <div class="single-fun">
    <i class="icofont-simple-smile"></i>
    <div class="content">
      <span class="counter">4000</span>
      <p>Diplomes depuis 2001</p>
    </div>
  </div>
  <!-- End Single Fun -->
</div>
<div class="col-lg-3 col-md-6 col-12">
  <!-- Start Single Fun -->
  <div class="single-fun">
    <i class="icofont icofont-table"></i>
    <div class="content">
      <span class="counter">12</span>
      <p>Partenaires</p>
    </div>
  </div>
  <!-- End Single Fun -->
</div>
</div>
</div>
</div>
<!--/ End Fun-facts -->

<!-- Start Why choose -->
<section class="why-choose section" >
<div class="container">
<div class="row">
<div class="col-lg-12">
  <div class="section-title">
    <h2>Demander un rattrapage</h2>
    <img src="assets/img/section-img.png" alt="#">
   
  </div>
</div>
</div>
<div class="row">
  <style>
    /* Style pour le formulaire en bleu ciel */
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f8ff; /* Couleur de fond bleu ciel */
        justify-content: center;
    align-items: center;
    }

    form {
    margin: 20px auto;
    padding: 20px;
    width: 70%; /* Largeur du formulaire */
    max-width: 600px; /* Largeur maximale du formulaire */
    background-color: #e0f0ff; /* Couleur de fond du formulaire */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    input[type="submit"] {
        background-color: lightblue;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    input[type="submit"]:hover {
        background-color: #008cba; /* Couleur de survol */
    }
</style>


<form action="/submit_form" method="post">
<label for="teacherName">Nom de l'enseignant :</label>
<input type="text" id="teacherName" name="teacherName" required>

<label for="course">Cours :</label>
<input type="text" id="course" name="course" required>
<label for="date">Date de la séance :</label>
<input type="date" id="date" name="date" required>

<label for="groupName">Nom du groupe :</label>
<input type="text" id="groupName" name="groupName" required>

<label for="reason">Raison de la demande :</label>
<textarea id="reason" name="reason" rows="4" required></textarea>


<input type="submit" value="Envoyer la demande">
</form>

<div class="col-lg-6 col-12">
  <!-- Start Choose Rights -->
  <div class="choose-right">
    <div class="video-image">
      <!-- Video Animation -->
      <div class="promo-video">
        <div class="waves-block">
          <div class="waves wave-1"></div>
          <div class="waves wave-2"></div>
          <div class="waves wave-3"></div>
        </div>
      </div>
      <!--/ End Video Animation -->
      <a href="https://www.youtube.com/watch?v=RFVXy6CRVR4" class="video video-popup mfp-iframe"><i class="fa fa-play"></i></a>
    </div>
  </div>
  <!-- End Choose Rights -->
</div>
</div>
</div>
</section>
<!--/ End Why choose -->

<!-- Start Call to action -->
<section class="call-action overlay" data-stellar-background-ratio="0.5">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-12">
  <div class="content">
   
    
  </div>
</div>
</div>
</div>
</section>
<!--/ End Call to action -->

<!-- Start portfolio -->
<section class="portfolio section" >
<div class="container">
<div class="row">
<div class="col-lg-12">
  <div class="section-title">
    <h2>Marquer votre présence</h2>
    <img src="assets/img/section-img.png" alt="#">
    
  </div>
</div>
</div>
</div>
<div class="container-fluid">
  
  <style>
    /* Style pour la mise en page */
    body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff; /* Couleur de fond */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

    .attendance-form {
        padding: 20px;
        width: 70%; /* Largeur du formulaire */
        max-width: 600px; /* Largeur maximale du formulaire */
        background-color: #e0f0ff; /* Couleur de fond du formulaire */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="date"],
    input[type="submit"] {
        width: calc(100% - 16px); /* Largeur ajustée pour tenir compte des bordures */
        padding: 8px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid #ccc;
    }

    input[type="submit"] {
        background-color: lightblue;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

    input[type="submit"]:hover {
        background-color: #008cba; /* Couleur de survol */
    }
</style>





<form action="/marquer_presence" method="post">
    <label for="sessionDate">Date de la séance :</label>
    <input type="date" id="sessionDate" name="sessionDate" required>

    <label for="sessionCode">Code de la séance :</label>
    <input type="text" id="sessionCode" name="sessionCode" required>

    <input type="submit" value="Marquer la Présence">
</form>




</div>
</section>
<!--/ End portfolio -->

<!-- Start service -->
<section class="services section">
<div class="container">
<div class="row">
<div class="col-lg-12">
  <div class="section-title">
    <h2>Demander un Congé</h2>
    <img src="assets/img/section-img.png" alt="#">
   
  </div>
</div>
</div>
<div class="row">
      <style>
          /* Style pour le formulaire */
          body {
              font-family: Arial, sans-serif;
              background-color: #f0f8ff; /* Couleur de fond */
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100vh;
              margin: 0;
          }
  
          form {
              padding: 20px;
              width: 70%; /* Largeur du formulaire */
              max-width: 600px; /* Largeur maximale du formulaire */
              background-color: #e0f0ff; /* Couleur de fond du formulaire */
              border-radius: 8px;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          }
  
          label {
              display: block;
              margin-bottom: 8px;
              font-weight: bold;
          }
  
          input[type="text"],
          input[type="number"],
          input[type="email"],
          input[type="date"],
          textarea {
              width: calc(100% - 16px); /* Largeur ajustée pour tenir compte des bordures */
              padding: 8px;
              margin-bottom: 15px;
              border-radius: 4px;
              border: 1px solid #ccc;
          }
  
          input[type="submit"] {
              background-color: lightblue;
              color: #fff;
              padding: 10px 20px;
              border: none;
              border-radius: 4px;
              cursor: pointer;
              font-size: 16px;
          }
  
          input[type="submit"]:hover {
              background-color: #008cba; /* Couleur de survol */
          }
      </style>
 
 
  
  <form action="/submit_leave_request" method="post" enctype="multipart/form-data">
      <label for="fullName">Nom :</label>
      <input type="text" id="fullName" name="fullName" required>
  
      <label for="phoneNumber">Numéro de téléphone :</label>
      <input type="text" id="phoneNumber" name="phoneNumber" required>
  
      <label for="email">E-mail :</label>
      <input type="email" id="email" name="email" required>
  
      <label for="reason">Raison :</label>
      <textarea id="reason" name="reason" rows="4" required></textarea>
  
      <label for="numberOfDays">Nombre de jours :</label>
      <input type="number" id="numberOfDays" name="numberOfDays" required>
  
      <label for="startDate">Date de début :</label>
      <input type="date" id="startDate" name="startDate" required>
  
      <label for="endDate">Date de fin :</label>
      <input type="date" id="endDate" name="endDate" required>
  
      <label for="certificate">Certificat (PDF) :</label>
      <input type="file" id="certificate" name="certificate">
  
      <input type="submit" value="Envoyer la demande">
  </form>

  

  










</div>
</div>
</section>

<!--/ End service -->

<!-- Pricing Table -->

<!--/ End Pricing Table -->



<!-- Start Blog Area -->
<section class="blog section" id="blog">
<div class="container">
<div class="row">
<div class="col-lg-12">
  <div class="section-title">
    <h2>Suivez nos dernières actualités</h2>
    <img src="assets/img/section-img.png" alt="#">
    
  </div>
</div>
</div>
<div class="row">
<div class="col-lg-4 col-md-6 col-12">
  <!-- Single Blog -->
  <div class="single-news">
    <div class="news-head">
      <img src="assets/img/news.png" alt="#">
    </div>
    <div class="news-body">
      <div class="news-content">
        <div class="date">22 Aug, 2023</div><br>
        <h2><a href="blog-single.html"></a></h2>
        <p class="text"></p>
      </div>
    </div>
  </div>
  <!-- End Single Blog -->
</div>
<div class="col-lg-4 col-md-6 col-12">
  <!-- Single Blog -->
  <div class="single-news">
    <div class="news-head">
      <img src="assets/img/4C.png" alt="#">
    </div>
    <div class="news-body">
      <div class="news-content">
        <div class="date">15 Jul, 2020</div>
        <h2><a href="blog-single.html"></a></h2>
        <p class="text"></p>
      </div>
    </div>
  </div>
  <!-- End Single Blog -->
</div>
<div class="col-lg-4 col-md-6 col-12">
  <!-- Single Blog -->
  <div class="single-news">
    <div class="news-head">
      <img src="assets/img/jpo.jpg" alt="#">
    </div>
    <div class="news-body">
      <div class="news-content">
        <div class="date">05 Jan, 2020</div>
        <h2><a href="blog-single.html"></a></h2>
        <p class="text"></p>
      </div>
    </div>
  </div>
  <!-- End Single Blog -->
</div>
</div>
</div>
</section>
<!-- End Blog Area -->

<!-- Start clients -->
<div class="clients overlay">
<div class="container">
<div class="row">
<div class="col-lg-12 col-md-12 col-12">
  <div class="owl-carousel clients-slider">
    <div class="single-clients">
      <img src="assets/img/logo-isims.jpg" alt="#">
    </div>
    
    
  </div>
</div>
</div>
</div>
</div>
<!--/Ens clients -->

<!-- Start Appointment -->
<section class="appointment">
<div class="container">
<div class="row">
<div class="col-lg-12">
  <div class="section-title">
    <h2>Profile</h2>
    
    <p>modifier votre profile</p>
  </div>
</div>
</div>
<div class="row">
<div class="col-lg-6 col-md-12 col-12">
  <form class="form" action="#">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <input name="name" type="text" placeholder="Name">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <input name="email" type="email" placeholder="Email">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <input name="phone" type="text" placeholder="Phone">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-12">
        <div class="form-group">
          <div class="nice-select form-control wide" tabindex="0"><span class="current">Department</span>
            <ul class="list">
              <li data-value="1" class="option selected ">Department</li>
              <li data-value="2" class="option">DataBase</li>
              <li data-value="3" class="option">securité</li>
              <li data-value="4" class="option">Stat</li>
              <li data-value="5" class="option">Programmation</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col-lg-12 col-md-12 col-12">
        <div class="form-group">
          <textarea name="message" placeholder="Write Your Message Here....."></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-4 col-12">
        <div class="form-group">
          <div class="button">
            <button type="submit" class="btn">Modifier</button>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-8 col-12">
        
      </div>
    </div>
  </form>
</div>
<div class="col-lg-6 col-md-12 ">
  <div class="appointment-image">
    <img src="assets/img/contact-img1.png" alt="#">
  </div>
</div>
</div>
</div>
</section>
<!-- End Appointment -->

<!-- Start Newsletter Area -->
<section class="newsletter section">
<div class="container">
<div class="row ">
<div class="col-lg-6  col-12">
  <!-- Start Newsletter Form -->
  <div class="subscribe-text ">
    <h6>Sign up </h6>
   <p>Il semble que vous n'ayez pas encore de compte.</p>
    <p>Vous pouvez créer un compte pour accéder à un espace personnalisé.</p>
  </div>
  <!-- End Newsletter Form -->
</div>
<div class="col-lg-6  col-12">
  <!-- Start Newsletter Form -->
  <div class="subscribe-form ">
    <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
      <input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Your email address'" required="" type="email">
      <button class="btn">Subscribe</button>
    </form>
  </div>
  <!-- End Newsletter Form -->
</div>
</div>
</div>
</section>
<!-- /End Newsletter Area -->

<!-- Footer Area -->
<footer id="footer" class="footer ">
<!-- Footer Top -->
<div class="footer-top">
<div class="container">
<div class="row">
  <div class="col-lg-3 col-md-6 col-12">
    <div class="single-footer">
      <h2>About Us</h2>
      
      <!-- Social -->
      <ul class="social">
        <li><a href="#"><i class="icofont-facebook"></i></a></li>
        <li><a href="#"><i class="icofont-google-plus"></i></a></li>
        <li><a href="#"><i class="icofont-twitter"></i></a></li>
        <li><a href="#"><i class="icofont-vimeo"></i></a></li>
        <li><a href="#"><i class="icofont-pinterest"></i></a></li>
      </ul>
      <!-- End Social -->
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="single-footer f-link">
      <h2>Quick Links</h2>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-12">
          <ul>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Services</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Cases</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Other Links</a></li>	
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <ul>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Consuling</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Finance</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Testimonials</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>FAQ</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>	
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="single-footer">
      <h2>Open Hours</h2>
      <p>Lorem ipsum dolor sit ame consectetur adipisicing elit do eiusmod tempor incididunt.</p>
      <ul class="time-sidual">
        <li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
        <li class="day">Saturday <span>9.00-18.30</span></li>
        <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-12">
    <div class="single-footer">
      <h2>Newsletter</h2>
      <p>subscribe to our newsletter to get allour news in your inbox.. Lorem ipsum dolor sit amet, consectetur adipisicing elit,</p>
      <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
        <input name="email" placeholder="Email Address" class="common-input" onfocus="this.placeholder = ''"
          onblur="this.placeholder = 'Your email address'" required="" type="email">
        <button class="button"><i class="icofont icofont-paper-plane"></i></button>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<!--/ End Footer Top -->
<!-- Copyright -->
<div class="copyright">
<div class="container">
<div class="row">
 
</div>
</div>
</div>
<!--/ End Copyright -->
</footer>


<router-outlet></router-outlet>
